@font-face {
    font-family: "Arcade";
    src: url(assets/font/ARCADECLASSIC.TTF);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    text-align: center;
    background-color: #5A72A0;
    font-family: "Arcade";
}

.game-name {
    font-family: "Arcade";
    font-size: 20px;
    padding: 10px;
    color: #FDFFE2;
    background-color: #1A2130;
}

.game-message {
    padding: 30px;
    letter-spacing: 1px;
}

.round-result-display {
    color: #FDFFE2;
    margin-bottom: 5px;
    
}

.round-message-display {
    color: #1A2130;
}


.game-info {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

