@font-face {
    font-family: "Mickey";
    src: url(assets/font/MickeyMouse.otf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    text-align: center;
}

.game-name {
    font-family: "Mickey";
    font-size: 30px;
    letter-spacing: 8px;
    padding: 10px;
}


.game-info {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

